<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form method="post" action="ura">
      <input type="checkbox" name="php" value="Php">Php<br/>
      <input type="checkbox" name="node" value="Node">Node.js<br/>
      <input type="checkbox" name="laravel" value="Laravel">Laravel<br/>
      <input type="submit" value="Send">
    </form>
  </body>
</html>
