<h1>Hurray!</h1>
You have selected the following items:
<ul>
    <li><%= (typeof data.php!='undefined')? data.php:''  %></li>
    <li><%= (typeof data.node!='undefined')? data.node:''  %></li>
    <li><%= (typeof data.larvel!='undefined')? data.laravel:''  %></li>
</ul>
